ul#css3menu1, ul#css3menu1 ul {
	margin: 0;
	list-style: none;
	padding: 0;
	background-color: #7D7D7D;
	background-image: url("mainbk.png");
	background-repeat: repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #B4B4B4;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
ul#css3menu1 ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #DDDDDD;
	background-image: url("subbk.png");
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding: 0;
}
ul#css3menu1 li:hover > * {
	display: block;
}
ul#css3menu1 li {
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 0;
	float: left;
}
ul#css3menu1 li:hover {
	z-index: 1;
}
ul#css3menu1 ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
ul#css3menu1 {
	font-size: 0;
	position: relative;
	display: inline-block;
	zoom: 1;
	padding: 0px 0px 0px 0;
	*display: inline;
}
* html ul#css3menu1 li a {
	display: inline-block;
}
ul#css3menu1 > li {
	margin: 0 0 0 0px;
}
ul#css3menu1 ul > li {
	margin: 6px 0 0;
}
ul#css3menu1 a:active, ul#css3menu1 a:focus {
	outline-style: none;
}
ul#css3menu1 a {
	display: block;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	color: #666;
	cursor: pointer;
	padding: 2px 2px;
	background-color: ;background-repeat: repeat;
	border-width: 0;
	border-style: solid;
	border-color: transparent;
}
ul#css3menu1 ul li {
	float: none;
	margin: 0;
}
ul#css3menu1 ul a {
	text-align: left;
}
ul#css3menu1 li:hover > a, ul#css3menu1 li a.pressed {
	background-color: #0078FF;
	border-color: #F8F8F8;
	border-style: solid;
	color: #FFF;
	text-decoration: none;
}
ul#css3menu1 ul span {
	background-image: none;
	padding-right: 8px;
}
ul#css3menu1 li.topmenu > a {
	background-color: ;background-image: none;
	background-position: 0 0;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: transparent;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	color: #E7E5E5;
	text-decoration: none;
	text-shadow: 0 1px 1px #000000;
}
ul#css3menu1 li.topmenu:hover > a, ul#css3menu1 li.topmenu a.pressed {
	background-color: #666666;
	background-image: url("mainbk.png");
	background-position: 0 100%;
	border-style: solid;
	border-color: #F8F8F8;
	color: #444444;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}
ul#css3menu1 li.subfirst > a {
	border-radius: 0px 0px 0 0;
	-moz-border-radius: 0px 0px 0 0;
	-webkit-border-radius: 0px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}
ul#css3menu1 li.sublast > a {
	border-radius: 0 0 0px 0px;
	-moz-border-radius: 0 0 0px 0px;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}
