.project
.pydevproject
*.pyc
marketsim/samples/_output
server/_saved/
.metadata/
.idea/
wsgi/_saved/*
wsgi/_cache/*
marketsim/config_user.py

marketsim/historical/data/*

marketsim/config_user.py
