.project
.pydevproject
*.pyc
marketsim/samples/_output
server/_saved/
.metadata/
.idea/
wsgi/_saved/*
wsgi/_cache/*
marketsim/config_user.py

marketsim/historical/data/*

marketsim/config_user.py
historical/data/^GSPC_2001-01-01_2010-01-01
marketsim/samples/output
wsgi/output
marketsim/gen/project/
marketsim/gen/target/
*.iml
.scala_dependencies
marketsim/gen/.timestamp
marketsim/gen/pygen.iml
marketsim/gen/pygen.iml
*.aux
*.bbl
*.blg
*.dvi
*.log
*.nav
*.out
*.snm
*.synctex
*.tex.bak
*.toc
*.sav
