<!doctype html>
<title>FiQuant Market Simulator</title>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
	<script type='text/javascript' src='static/_external/knockout-2.2.1.debug.js'></script>
	<script type='text/javascript' src='static/_external/jquery-1.9.0.min.js'></script>
    <script type="text/javascript" src="static/_external/jquery.json-2.3.min.js"></script>
    <script type="text/javascript" src="static/_external/flotr2.min.js"></script>
	<script type="text/javascript" src="static/_external/highstock.js"></script>    
	<script type='text/javascript' src='static/js/prelude.js'></script>
	<script type='text/javascript' src='static/js/translations/en.js'></script>
	<script type='text/javascript' src='static/js/fields/scalar.js'></script>
	<script type='text/javascript' src='static/js/fields/array.js'></script>
	<script type='text/javascript' src='static/js/fields/object.js'></script>
	<script type='text/javascript' src='static/js/fields/factory.js'></script>
	<script type='text/javascript' src='static/js/fields/property.js'></script>
	<script type='text/javascript' src='static/js/fields/instance.js'></script>
	<script type='text/javascript' src='static/js/graph.js'></script>
	<script type='text/javascript' src='static/js/script.js'></script>
	<!---
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({tex2jax: {inlineMath: [['\\(','\\)']]}});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script> -->	
</head>
<body>
	<script type="text/html" id="renderField">
        <tr data-bind="css: { even: $index()%2==0, error: hasErrorStyle }">
        	<td>
        		<!-- ko if: expandable() -->
        			<input type="checkbox" data-bind="checked: isExpanded"/>
        		<!-- /ko -->	            	            		
        	</td>
            <td>
            	<span  data-bind="html: displayLabel()"></span>
            	<!-- ko if: isArrayElement() -->
            		<button data-bind="click: _duplicateInArray">Clone</button>
            		<button data-bind="click: _removeFromArray, enable: $data.parentArray().canBeRemoved()">Delete</button>
            	<!-- /ko -->
            </td>
            <td>
	            <!-- ko with: impl() -->
		            <!-- ko if: $data.scalar  -->
		            	<input type="text" data-bind="value: _storage, valueUpdate: 'afterkeydown'">
		            	</input>
			        <!-- /ko -->
		            <!-- ko if: $data.toplevel -->
			            <!-- ko if: !$parentContext.$data.expandedView().length -->
		    	        	<span data-bind="text: alias()"></span>
				        <!-- /ko -->
			        <!-- /ko -->
		            <!-- ko if: $data.object -->
			            <!-- ko ifnot: editAliasMode -->
		            		<select data-bind="
		            		event: 		{ mouseover: updateOptions, dblclick: enterEditMode }, 
		            		options: 	  _options, 
		            		value: 		  _currentOption, 
		            		optionsText:  function (item) { return item.alias.peek(); },
		            		optionsValue: function (item) { return item.uniqueId(); }">
		            		</select>
			            <!-- /ko -->
		            	<!-- ko if: editAliasMode -->
			        		<input data-bind="
			        			value: alias, 
			        			event: { blur: exitEditMode, 
			        					 dblclick: exitEditMode }" 
			        		type="text" />
			            <!-- /ko -->
		            <!-- /ko -->
		            <!-- ko if: $data.array -->
	    	        	...
			        <!-- /ko -->
	            <!-- /ko -->
            </td>
        </tr>
        <tr class="error" data-bind="if: errorMessage().length">
        	<td colspan="3" data-bind="text: errorMessage"></td>
        </tr>
        <tr data-bind="if: expandedView().length">
        	<td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
        	<td colspan="2">
        		<table>
			        <!-- ko foreach: expandedView -->
			        	<!-- ko template: 'renderField'-->
				        <!-- /ko -->
			        <!-- /ko -->
				</table>
        	</td>
        </tr>
	</script>
	
	<script type="text/html" id="renderEntities">
		<td>
			<table data-bind="css: $data[1]">
			    <thead>
			        <tr>
			        	<th data-bind="text: $data[0]"></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			        	<td>
			        		<table>
						        <!-- ko foreach: $data[2].impl().expanded() -->
						        	<!-- ko template: 'renderField'-->
							        <!-- /ko -->
						        <!-- /ko -->
			        		</table>
			        	</td>
			        </tr>
			    </tbody>
			</table>
		</td>
	</script>
		
	<script type="text/html" id="current">
		<span data-bind="html: errorMessage"></span>
		<button data-bind="click: submitChanges, enable: enabled">Run</button>	
		<button data-bind="click: reset, enable: enabled">Reset</button>	
		<button data-bind="click: stop, enable: running">Stop</button>	
		Advance: <input data-bind="value: advance" />
		Update interval: <input data-bind="value: updateInterval" />
		<select data-bind="options: graphRenderers, value: currentRenderer"></select>
		Simulation:
			<select data-bind="
			options: simulations, 
			value: 	 filename, 
			event: { change: load }"
			></select>
		<button data-bind="click: commit, enable: enabled() && hasChanged()">Commit</button>	
		<button data-bind="click: remove, enable: enabled()">Remove</button>	
		<button data-bind="click: fork, enable: enabled() && forkNameValid()">Fork as</button>	
		<input data-bind="value: forkName, valueUpdate: 'afterkeydown'"></input>
		<button data-bind="click: createFrom, enable: enabled()">Create from</button>	
		<select data-bind="options: createFromOptions, value: currentCreateFrom"></select>
		<table>
			<tr data-bind="template: { name: 'renderEntities', foreach: entities }">
			</tr>
		</table>
	  <div data-bind="template: { foreach: graphs }">
	  	<!-- ko ifnot: empty -->
	    <table class="graph1d">
          <tr data-bind="if: $root.currentRenderer() == 'Flotr2'">
	        <td>
	          <div data-bind="flotr: asFlotr">
	          </div>
	        </td>
	        <td>
			    <h4 data-bind="text: alias"></h4>
	        	<table data-bind="foreach: series">
	        		<tr>
	        			<td>
		        			<input type="checkbox" data-bind="checked: visible"/>
	        			</td>
	        			<td data-bind="text: alias"></td>
	        		</tr>
	        	</table>
	        </td>
	      </tr>
          <tr data-bind="if: $root.currentRenderer() == 'HighStocks'">
          	<h3 data-bind='text: alias'></h3>
	        <td>
	          <div style="width: 97%; height: 95%" data-bind="attr: { id: $index }, highstocks: asFlotr">
	          </div>
	        </td>
	      </tr>
	    </table>
	    <!-- /ko -->
	  </div>
        
		
		
	</script>

	<div data-bind="template: { name: 'current' }">
	</div>
	
	<script type='text/javascript'>
		ko.applyBindings(viewmodel);
	</script>
</body>