<!doctype html>
<title>FiQuant Market Simulator</title>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
	<script type='text/javascript' src='static/knockout-2.2.1.js'></script>
	<script type='text/javascript' src='static/jquery-1.9.0.min.js'></script>
    <script type="text/javascript" src="static/jquery.json-2.3.min.js"></script>
    <script type="text/javascript" src="static/flotr2.min.js"></script>
	<script type='text/javascript' src='static/script.js'></script>
	<!---
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({tex2jax: {inlineMath: [['\\(','\\)']]}});
	</script>
	<script type="text/javascript"
	  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script> -->	
</head>
<body>
	<script type="text/html" id="renderField">
        <tr data-bind="css: { even: $index()%2==0 }">
            <!-- ko if: val.editor == INPUT -->
            	<td data-bind="css: { error: val.hasError }"></td>
	            <td data-bind="css: { error: val.hasError }">
	            	<a data-bind="text: name + hasChangedSign($data)"/>	            		            	
	            </td>	           
	            <td data-bind="css: { error: val.hasError }">
	            	<input data-bind="value: val.val, valueUpdate: 'afterkeydown'"></input>
	            </td> 
	        <!-- /ko -->
            <!-- ko if: val.editor != INPUT -->
            	<td>
            		<!-- ko if: $data.val.expanded().length -->
            			<input type="checkbox" data-bind="checked: $data.isExpanded"/>
            		<!-- /ko -->	            	            		
            	</td>
	            <td>
	            	<a data-bind="html: name"/>	            		            	
	            </td>
	            <td data-bind="if: val.editor == LISTBOX && $root.getCandidates($data.val.constraint).length">
	            	<select data-bind="options: map($root.getCandidates($data.val.constraint), function (x) { return x.alias; }), value: val.val.alias"></select>
	            </td>
	            <td data-bind="if: val.editor == ARRAY">
	            	<a data-bind="text: val.brief()"></a>
	            </td>
	        <!-- /ko -->
        </tr>
        <tr class="error" data-bind="if: val.editor == INPUT && val.errormsg().length">
        	<td colspan="3" data-bind="text: val.errormsg()"></td>
        </tr>
        <!-- ko if: val.editor != INPUT -->
	        <tr>
	        	<td colspan="3" data-bind="text: $.toJSON($data.val.constraint)"></td>
	        </tr>
	        <tr>
	        	<td colspan="3" data-bind="text: $.toJSON($data.val.val.alias)"></td>
	        </tr>
	        <tr>
	        	<td colspan="3" data-bind="text: $.toJSON($data.val.val.typeinfo)"></td>
	        </tr>
	        <!-- ko foreach: $root.getCandidates($data.val.constraint) -->
	        <tr>
	        	<td colspan="3" data-bind="text: $data.name"></td>
	        </tr>
	        <!-- /ko -->
        <!-- /ko -->
        <tr data-bind="if: $data.expandedView().length > 0">
        	<td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
        	<td colspan="2">
        		<table>
			        <!-- ko foreach: $data.expandedView -->
			        	<!-- ko template: 'renderField'-->
				        <!-- /ko -->
			        <!-- /ko -->
        		</table>
        	</td>
        </tr>
	</script>
	
	<script type="text/html" id="renderEntities">
		<td>
			<table data-bind="css: $data[1]">
			    <thead>
			        <tr>
			        	<th data-bind="text: $data[0]"></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			        	<td>
			        		<table>
						        <!-- ko foreach: $data[2] -->
						        	<!-- ko template: 'renderField'-->
							        <!-- /ko -->
						        <!-- /ko -->
			        		</table>
			        	</td>
			        </tr>
			    </tbody>
			</table>
		</td>
	</script>
		
	<script type="text/html" id="current">
		<button data-bind="click: submitChanges, enable: enabled">Run</button>	
		<button data-bind="click: reset, enable: enabled">Reset</button>	
		<button data-bind="click: function () { toBeStopped = true; }, enable: running">Stop</button>	
		<!-- <a data-bind="text: changes"></a> -->
		Advance: <input data-bind="value: advance" />
		Update interval: <input data-bind="value: updateInterval" />
		<table>
			<tr data-bind="template: { name: 'renderEntities', foreach: entities }">
			</tr>
		</table>
	  <div data-bind="template: { foreach: graphs, afterRender: renderGraph1d }">
	  	<!-- ko if: !$data.empty() -->
	  	<th data-bind="text: label"></th>
	    <table class="graph1d">
	      <tr>
	        <td>
	          <div data-bind="attr: { id: $index }">
	          </div>
	        </td>
	      </tr>
	    </table>
	    <!-- /ko -->
	  </div>
        
		
		
	</script>

	<div data-bind="template: { name: 'current' }">
	</div>
	
	<script type='text/javascript'>
		ko.applyBindings(viewmodel);
	</script>
</body>