* {
   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

td select {
   float: right; 
}

td {
	margin: 0px;
	padding: 1px
}

td table {
   width: 100%;
}

input[type="text"] {
   float: right;
}

.history td {
   text-align: right;
}

tr {
   vertical-align: top;
}

.iteration {
   padding:0px;   
   margin: 0px;
   width: 100%
}

.iteration .values {
    max-width: 80px;
}

.iteration input {
    text-align: right;
}

.values {
   font-style: italic;
   text-align: right;
}

.keys {
   text-align: right;  
   vertical-align: middle;
}

.constraints {
   text-align: left;  
   vertical-align: middle;
}

.footer {
   font-style: italic;
   margin: auto;
}

.notPrimary {
   color: gray;
}

.notPrimary input {
   color: gray;
}

.error td {
   background-color: red;
   color: white;
}

.error input {
   background-color: #ffcccc;
}

.odd {
   background-color: white;
}

table {
   border-collapse:collapse;
}

.iteration {
   
}

.model {
   border:1px solid #98bf21;
}

th {
   font-size:1.1em;
   padding-top:5px;
   padding-bottom:4px;
   color:#ffffff;
}

.model th {
   background-color:#A7C942;
}

.model .even {
   color:#000000;
   background-color:#EAF2D3;
}

.inherit {
   vertical-align: middle;
}

.inherit .even {
   background-color:#EAF2D3;  
}
.option {
   border:1px solid #FF9900;
}

.option th {
   background-color:#FF9900;
}

.option .even {
   background-color: #FFE0B2;
}

.pricing_method {
   border:1px solid #9966FF;
}

.pricing_method th {
   background-color:#9966FF;
}

.pricing_method .even{
   background-color: #E0C2FF;
}

.even_scalar  {
   background-color: lightgrey;
}

.result1d .even {
   background-color: lightgrey;
}

.result2d .even {
   background-color: lightgrey;
}

.inherit .even {
   background-color: lightblue;
}

.tabrow {
    text-align: center;
    list-style: none;
    margin: 20px 0 0px;
    padding: 0px 20px;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}
.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}
.tabrow li:hover {
    border: 1px solid #AAA;
    background: #AAA;
    background: -o-linear-gradient(top, #ECECEC 50%, #AAA 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #AAA 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #AAA 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #AAA 100%);
    background: linear-gradient(top, #ECECEC 50%, #AAA 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}

.tabrow a {
	  color: #555;
	  text-decoration: none;
}
.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow li:hover:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #AAA;
}
.tabrow li:hover:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #AAA;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}
