#v-nav
{
    height: 100%;
    margin: auto;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #555;
}

#v-nav a {
    text-decoration: none;
    color: #555;
}

#v-nav li
{
    outline: 0;
    text-decoration: none;
    -webkit-transition-property: background color;
    -moz-transition-property: background color;
    -o-transition-property: background color;
    -ms-transition-property: background color;
    transition-property: background color;
    -webkit-transition-duration: 0.12s;
    -moz-transition-duration: 0.12s;
    -o-transition-duration: 0.12s;
    -ms-transition-duration: 0.12s;
    transition-duration: 0.12s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#v-nav >ul
{
    float: left;
    display: block;
    position: relative;
    top: 0;
    border: 1px solid #DDD;
    border-right-width: 0;
    margin: auto 0 !important;
    padding:0;
}

#v-nav >ul >li
{
    list-style-type: none;
    display: block;
    text-shadow: 0px 1px 1px #F2F1F0;
    font-size: 1.11em;
    position: relative;
    border-right-width: 0;
    border-bottom: 1px solid #DDD;
    margin: auto;
    padding: 10px 15px !important;  
    background: whiteSmoke; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f2f2 0%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f2f2 0%, #e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f2f2 0%, #e2e2e2 100%); /* IE10+ */
    background: linear-gradient(top, #f2f2f2 0%, #e2e2e2 100%); /* W3C */       
}

#v-nav >ul >li:hover
{
    background: whiteSmoke; /* Old browsers */
    background: -moz-linear-gradient(top, #CCC 0%, #AAA 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCC), color-stop(100%, #AAA)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CCC 0%, #AAA 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #CCC 0%, #AAA 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #CCC 0%, #AAA 100%); /* IE10+ */
    background: linear-gradient(top, #CCC 0%, #AAA 100%); /* W3C */       
}

#v-nav >ul >li.current
{
    color: black;
    border-right: none;
    z-index: 10;
    background: white !important;
    position: relative;
    moz-box-shadow: inset 0 0 35px 5px #fafbfd;
    -webkit-box-shadow: inset 0 0 35px 5px #fafbfd;
    box-shadow: inset 0 0 35px 5px #fafbfd;
}

#v-nav >ul >li.first.current
{
    border-bottom: 1px solid #DDD;
}

#v-nav >ul >li.last
{
    border-bottom: none;
}
